.absolute-image {
    position: absolute;
    bottom: -41px;
    left: 216px;
    width: 87px;
    height: 87px;
    object-fit: fill;
}
.absolute-text {
    position: absolute;
    bottom: -6px;
    left: -41px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 175px;
}
.box {
    width: 290px;
    height: 1px;
}
.box2 {
    width: 290px;
    height: 1px;
    background: #F4F7FE;
}
.box3 {
    width: 4px;
    height: 36px;
    background: #4218FF;
    border-radius: 25px;
}
.box4 {
    width: 230px;
    height: 10px;
    background: #4218FF;
    border-radius: 42px;
}
.box5 {
    width: 144px;
    align-self: stretch;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F4F7FE;
    border-radius: 10px;
    border: none;
    padding: 7px 6px;
    text-align: left;
}
.button-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 19px;
    box-shadow: 0px 18px 40px #7090B01C;
    text-align: left;
}
.button-column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    padding-top: 23px;
    padding-bottom: 23px;
    box-shadow: 0px 18px 40px #7090B01C;
    text-align: left;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    padding-top: 51px;
    padding-bottom: 25px;
}
.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 489px;
    margin-left: 31px;
}
.column4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 31px;
    margin-right: 31px;
}
.column5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #858CFF, #4318FF);
    border-radius: 24px;
    padding-bottom: 65px;
}
.column6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7px;
    position: relative;
}
.column7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 49px;
}
.column8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1057px;
}
.column9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 21px;
}
.column10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding-top: 18px;
    padding-bottom: 35px;
    margin-right: 20px;
}
.column11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 56px;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.column12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 57px;
}
.column14 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 45px;
}
.column15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding-top: 18px;
    padding-bottom: 29px;
    margin-right: 20px;
}
.column16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;
    margin-left: 90px;
    margin-right: 90px;
}
.column17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 42px;
    margin-left: 20px;
    margin-right: 20px;
}
.column18 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFCFE;
    border-radius: 13px;
    border: 1px dashed #E0E5F2;
    padding: 94px 26px 66px 26px;
    margin-right: 36px;
}
.column19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 47px;
}
.column20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 20px;
    box-shadow: 14px 17px 40px #7090B012;
}
.column21 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    margin-left: 31px;
    margin-right: 31px;
}
.column22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 41px;
}
.column23 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 49px;
}
.column24 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 67px;
}
.column25 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 20px;
}
.column26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 31px;
}
.column27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 34px;
}
.contain {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
.image {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    object-fit: fill;
}
.image2 {
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-right: 13px;
    object-fit: fill;
}
.image3 {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    object-fit: fill;
}
.image4 {
    width: 41px;
    height: 41px;
    object-fit: fill;
}
.image5 {
    border-radius: 24px;
    width: 94px;
    height: 94px;
    object-fit: fill;
}
.image6 {
    width: 11px;
    height: 11px;
    margin-right: 11px;
    object-fit: fill;
}
.image7 {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    object-fit: fill;
}
.image8 {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    object-fit: fill;
}
.image9 {
    border-radius: 16px;
    width: 518px;
    height: 131px;
    object-fit: fill;
}
.image10 {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin-top: 26px;
    margin-right: 83px;
    object-fit: fill;
}
.image11 {
    width: 24px;
    height: 24px;
    object-fit: fill;
}
.image12 {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    object-fit: fill;
}
.image13 {
    width: 79px;
    height: 80px;
    margin-right: 19px;
    object-fit: fill;
}
.image14 {
    border-radius: 16px;
    width: 18px;
    height: 18px;
    object-fit: fill;
}
.image15 {
    width: 36px;
    height: 18px;
    margin-right: 15px;
    object-fit: fill;
}
.input {
    color: #8E9AB9;
    font-size: 14px;
    width: 43px;
    background: none;
    border: none;
}
.row-view {
    display: flex;
    align-items: flex-start;
}
.row-view2 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 2px;
}
.row-view3 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 138px;
    margin-left: 1px;
    margin-right: 1px;
}
.row-view4 {
    display: flex;
    align-items: center;
}
.row-view5 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 30px;
}
.row-view6 {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 10px;
    margin-top: 16px;
    box-shadow: 14px 17px 40px #7090B012;
}
.row-view7 {
    display: flex;
    align-items: center;
    background: #F4F7FE;
    border-radius: 49px;
    padding: 11px 20px;
    margin-right: 20px;
}
.row-view8 {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 20px;
}
.row-view9 {
    display: flex;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 150px;
}
.row-view10 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    margin-left: 141px;
}
.row-view11 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.row-view12 {
    display: flex;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 27px;
}
.row-view13 {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}
.row-view14 {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 14px;
    margin-bottom: 20px;
    box-shadow: 0px 18px 40px #7090B01C;
}
.row-view15 {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 14px;
    box-shadow: 0px 18px 40px #7090B01C;
}
.row-view16 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 19px;
}
.row-view17 {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-left: 31px;
    margin-right: 31px;
}
.row-view18 {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.row-view19 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.scroll-view {
    height: 1171px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F4F7FE;
}
.text {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin: 4px 38px 33px 39px;
}
.text2 {
    color: #A3AED0;
    font-size: 16px;
    font-weight: bold;
    width: 80px;
}
.text3 {
    color: #43548A;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 168px;
    width: 49px;
}
.text4 {
    color: #A3AED0;
    font-size: 16px;
    font-weight: bold;
    width: 114px;
}
.text5 {
    color: #E9EDF7;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 228px;
}
.text6 {
    color: #707EAE;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    width: 93px;
}
.text7 {
    color: #2B3674;
    font-size: 34px;
    font-weight: bold;
}
.text8 {
    color: #2B3674;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1px;
    width: 88px;
}
.text9 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
}
.text10 {
    color: #2B3674;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}
.text11 {
    color: #A3AED0;
    font-size: 14px;
}
.text12 {
    color: #2B3674;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}
.text13 {
    color: #A3AED0;
    font-size: 16px;
    text-align: center;
    width: 201px;
}
.text14 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    margin-right: 244px;
}
.text15 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    width: 44px;
}
.text16 {
    color: #4218FF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
    width: 113px;
}
.text17 {
    color: #8E9AB9;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 215px;
}
.text18 {
    color: #2B3674;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.text19 {
    color: #A3AED0;
    font-size: 16px;
    margin-bottom: 75px;
    width: 243px;
}
.text20 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 75px;
}
.text21 {
    color: #2B3674;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 31px;
}
.text22 {
    color: #A3AED0;
    font-size: 16px;
    margin-bottom: 42px;
    margin-left: 31px;
    margin-right: 31px;
    width: 455px;
}
.text23 {
    color: #2B3674;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}
.text24 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
}
.text25 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.text26 {
    color: #4218FF;
    font-size: 14px;
    font-weight: bold;
}
.text27 {
    color: #A3AED0;
    font-size: 16px;
    margin-bottom: 32px;
    margin-left: 31px;
    margin-right: 31px;
    width: 554px;
}
.text28 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 22px;
}
.text29 {
    color: #2B3674;
    font-size: 16px;
    margin-left: 22px;
}
.text30 {
    color: #2B3674;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1px;
}
.text31 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 161px;
}
.text32 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 178px;
}
.text33 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 164px;
}
.text34 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 191px;
}
.text35 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 198px;
}
.text36 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 182px;
}
.text37 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 173px;
}
.text38 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 152px;
}
.text39 {
    color: #2B3674;
    font-size: 14px;
    font-weight: bold;
    width: 230px;
}
.text40 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    margin-right: 723px;
    width: 438px;
}
.text41 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 42px;
    width: 80px;
}
.text42 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 42px;
    width: 50px;
}
.text43 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 42px;
    width: 83px;
}
.text44 {
    color: #A3AED0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 28px;
}
.view {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}
.view2 {
    align-items: flex-start;
    background: #E9EDF7;
    border-radius: 42px;
    padding-right: 111px;
}
.view3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #4218FF;
    border-radius: 16px;
    padding: 11px 32px 12px 32px;
    margin-left: 1px;
}